$dangerColor: red;
$buttonColor: green;

.container {
  color: $dangerColor;
  font-size: 25px;
}

.login-btn {
  color: $buttonColor;
  font-size: 25px;
}

.sidebar-bg-color {
  background-color: #31353d;
  height: 100vh;
}
